body {
    background-color: powderblue;
    color: blue;
    font-family: Verdana;
    font-weight: 500;
    line-height: 1.5;
}

@font-face {
    font-family: MabryPro;
    src: url(Mabry-Pro-Black.ttf);
}

.weird {
    font-family: MabryPro;

}

.container {
    background-color: red;
    width: 5vw;
    display: grid;
    grid-template-rows: 100px 100px 100px 500px 200px;
}

.item {
    
}