body {
    background-color: powderblue;
    color: black;
    font-family: MabryPro;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.5;
}

@font-face {
    font-family: MabryPro;
    src: url(Mabry-Pro-Black.ttf);
}

.weird {
    font-family: MabryPro;

}

.blocks {
    /* the wrapper for all the squared elements*/
    padding: 50px;
    display: grid;
    width: full;
    height: auto;
    background-color: rgb(255, 130, 108);
    column-gap: 10px;
    row-gap: 15px;
    grid-template-columns: 500px 500px 500px 500px;
    grid-template-rows: 500px 500px 500px 500px;
    grid-template-areas:
        "name . . .>"
        ". bio . blog ."
        "photography films contact store";

}

.item {
    border: 5px solid black;
    border-style: dotted;
    padding: 20px;

}

.name {
    font-family: MabryPro;
    font-size: 50px;
    background-color: #ffd000;
    padding: 50px;
    /*background-clip: content-box;*/

}

.bio {
    padding: 70px;
    font-size: 30px;
    display: flex;
    align-items: center;
    /* align vertical */
}

.empty {
    border: none;
}

.hyper {
    font-size: 70px;
    display: flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
    /* align vertical */
}