body {
    background-color: rgb(255, 130, 108);
    color: black;
    font-family: MabryPro;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.5;
}

@font-face {
    font-family: MabryPro;
    src: url(Mabry-Pro-Black.ttf);
}

/* mobile */

@media screen and (max-width: 900px) {
    .blocks {
        /* the wrapper for all the squared elements*/
        justify-content: center;
        padding: 1%;
        display: grid;
        height: 110%;
        column-gap: 1%;
        row-gap: 1%;
        grid-template-columns: 1fr;
    }
}

/* desktop */
@media screen and (min-width: 900px) {
    .blocks {
        /* the wrapper for all the squared elements*/
        justify-content: center;
        padding: 1%;
        display: grid;
        height: 110%;
        column-gap: 1%;
        row-gap: 1%;


        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

.item {
    aspect-ratio: 1;
    border: 10px solid black;
    border-style: dotted;
    padding: 20px;
    background-color: rgb(35, 195, 136);

}

.name {
    font-family: MabryPro;
    font-size: 70px;
    background-color: #ffd000;
    padding: 50px;
    /*background-clip: content-box;*/

}

.bio {
    padding: 20px;
    font-size: 30px;
    background-color: rgb(106, 178, 250);
}

.empty {
    border: none;
    background-color: rgb(255, 130, 108);

}

.hyper {
    font-size: 70px;
    display: flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
    /* align vertical */

}

.hyper:hover {
    background-color: rgb(253, 111, 151);
    color: black;
}

#response {
    position: absolute;
    bottom: 0;
    left: 0;
}

.blog {
    outline: 20px solid black;
    outline-style: dotted;
    border-style:none;
}